{% extends 'base.html.twig' %}

{% block title %}Cliquez ici !!{% endblock %}

{% block body %}
<h1><a href="https://www.youtube.com/watch?v=WFk9R5reSj8" class="d-flex justify-content-center align-items-center vh-100"> CLIQUEZ ICI POUR AGRANDIR VOTRE BANGALA !</a></h1>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
